*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f5f7fa;
color:#333;
}

header{
background:#0f172a;
position:fixed;
width:100%;
top:0;
z-index:1000;
}

nav{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
}

.logo{
color:white;
font-size:24px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url('https://images.unsplash.com/photo-1516321318423-f06f85e504b3?auto=format&fit=crop&w=1600&q=80');
background-size:cover;
background-position:center;
color:white;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:30px;
}

.btn{
background:#2563eb;
padding:15px 35px;
border-radius:8px;
color:white;
text-decoration:none;
}

section{
padding:90px 10%;
}

section h2{
text-align:center;
margin-bottom:40px;
}

.stats,
.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.stat-card,
.card{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.card i{
font-size:40px;
margin-bottom:15px;
color:#2563eb;
}

.dark{
background:#0f172a;
color:white;
}

.senhas{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.box{
background:white;
color:black;
padding:30px;
border-radius:10px;
}

.checklist{
max-width:700px;
margin:auto;
line-height:2;
font-size:20px;
}

.quiz{
background:#eef2ff;
text-align:center;
}

.quiz button{
padding:15px;
margin:10px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
cursor:pointer;
}

#resultado{
margin-top:20px;
font-weight:bold;
font-size:22px;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:40px;
}

@media(max-width:768px){

.hero h1{
font-size:36px;
}

nav{
flex-direction:column;
}

}